

{% if is_granted('ROLE_ADMIN')   %}


    <nav class="navbar navbar-light bg-light">

        Connecté en tant que <strong>{{ app.user.username }}</strong>   <a href="{{ path('fos_user_security_logout') }}">Deconnection</a>

    </nav>
{% endif %}