{% extends 'base.html.twig' %}

{% block body %}


    {%  if contacts|length == 0 %}
        Aucun contact
    {% endif %}

    <ul>
        {%  for contact in contacts %}

            <li>{{ contact.nom }} <a href="{{ path('edit_contact', {id : contact.id}) }}">edit</a></li>

        {% endfor %}
    </ul>


    <a href="{{ path('add_contact') }}" class="btn btn-primary">Créer un contact</a>

{% endblock %}

{% block stylesheets %}

{% endblock %}
