{% extends 'base.html.twig' %}

{% block body %}


    {%  if adresses|length == 0 %}
        Aucune adresse
    {% endif %}

    <ul>
        {%  for adresse in adresses %}

            <li>{{ adresse.adresse }} <a href="{{ path('edit_adresse', {id : adresse.id}) }}">editer</a></li>

        {% endfor %}
    </ul>


    <a href="{{ path('add_adresse') }}" class="btn btn-primary">Créer une adresse</a>

{% endblock %}

{% block stylesheets %}

{% endblock %}
