{% extends 'base.html.twig' %}
{% block body %}
<h1>add contact</h1>



{{ form_start(form) }}

<label>Nom</label>
{{ form_widget(form.nom) }}
<br />
<label>Prenom</label>
{{ form_widget(form.prenom) }}
<br />



<label >Email <strong class="error_email" ></strong></label>
{{ form_widget(form.email) }}
<button class="btn btn-primary" id="check_email">Verifier email</button>

<br />
<label>Utilisateur</label>
{{ form_widget(form.utilisateur) }}
<br />
<label>Adresses   <a href="{{ path('add_adresse') }}" class="btn btn-primary">Ajouter adresse</a></label>
{{ form_widget(form.adresses) }}
<br />

{{ form_widget(form.save) }}




{{ form_end(form) }}


    {% endblock  %}